html {
    scroll-behavior: smooth;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

/* .material-symbols-outlined{
    vertical-align: -5px;
    margin: 0px 2px;
} */

body {
  font-family: 'Poppins', sans-serif;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#heading{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

#nav{
    list-style: none;
    background-color: rgb(167, 167, 240);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to left , rgb(127, 206, 243) , rgb(105, 105, 224));
}



a:hover{
    transform: scale(1.2);
    color: rgb(46, 61, 66);
}

#navbars{
    display: flex;
    gap: 15px;
}

#nav li{
    margin: 0 10px;
    display: flex;
    align-self: center;
}

a{
    color: rgb(240, 248, 255);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.6s;
}

.content:hover{
    transform: scale(1.02);
}

.content{
    border: 1px solid black;
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(to left , rgb(255, 255, 255) , rgb(219, 219, 231));
    box-shadow: 0px 0px 20px black;
    font-size: 120%;
    border-radius: 10px;
    transition: all 0.6s;
}

.recipe1 li{
    margin-left:50px;
}

.recipe1{
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
}



.recipe1img{
    align-self: center;
}

.recipe2 li{
    margin-left:50px;
}

.recipe2{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.recipe2img{
    align-self: center;
}

.recipe3 li{
    margin-left:50px;
}

.recipe3{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.recipe3img{
    align-self: center;
}

img{
    border-radius: 15px;
    width: 200px;
    box-shadow: 4px 4px 16px black;
    transition: all 0.6s ;
}

.recipe1itmes{
    display: flex;
    flex-direction: column;

}

.recipe2itmes{
    display: flex;
    flex-direction: column;

}


.recipe3itmes{
    display: flex;
    flex-direction: column;
}

img:hover{
    transform: scale(1.1);
}

.footer{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left , rgb(255, 255, 255) , rgb(219, 219, 231));

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    padding: 10px 0;
}


@media (max-width: 1080px) {
    .content{
        flex-direction: column;
        margin-top :100px; 
        margin-bottom: 100px;
    }
    .recipe1, .recipe2, .recipe3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recipe1img , .recipe2img, .recipe3img{
        padding: 20px 0px;
        display: flex;
        margin: auto;
    }  

    .recipe1itmes, .recipe2itmes, .recipe3itmes{
        align-items: center;
    }

    h3 h2{
        padding: 10px 0px;
        text-align: center;
    }
}



